@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.carousel {
  @include flex($direction: column, $gap: $gap-medium);
  @include colors($color-grey, $color-main);

  padding: 7.1rem 0;

  &__buttons {
    @include flex($justify: center, $gap: $gap-large);
  }

  &__button {
    @include colors($color-accent, transparent);
    @include font($size: $fs-extra-large, $weight: $fw-bold);

    cursor: pointer;
  }

  &__indicators {
    @include flex($justify: center, $gap: $gap-small);
  }

  &__indicator {
    @include colors($color-accent, transparent);

    font-size: $fs-extra-large;
  }
}

.quote {
  display: none;
  padding: 0 2rem;

  &--selected {
    @include flex($direction: column, $gap: $gap-small);
  }

  &__left-mark {
    @include dimensions(2.5rem, 2.5rem);

    display: inline;
    vertical-align: text-top;
  }

  &__right-mark {
    @include dimensions(1.5rem, 1.5rem);

    display: inline;
    vertical-align: middle;
  }

  &__text {
    font-size: $fs-large;
  }

  &__author {
    text-align: center;
  }
}
