@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  @include position(absolute, 0, 0, auto, 0);
  @include flex($align: center, $justify: space-around);

  padding: 1.5rem 0;
  z-index: 999;

  &--fixed {
    position: fixed;
  }
}

.website-logo {
  @include flex($align: center, $gap: $gap-small);

  &__icon {
    @include dimensions(3.5rem, 3.5rem);
  }

  &__heading {
    @include font($size: $fs-large, $weight: $fw-bold);

    color: $color-grey;
    letter-spacing: $ls-medium;
  }
}

.hamburger-menu,
.close-menu {
  @include dimensions(3rem, 3rem);

  cursor: pointer;
}

.hamburger-menu {
  color: $color-grey;

  &--hidden {
    display: none;
  }
}

.close-menu {
  display: none;
  color: $color-main;

  &--visible {
    display: block;
    z-index: 999;
  }
}
