@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  @include position(absolute, 0, 0, auto, 0);
  @include flex($align: center, $justify: space-around);

  padding: 1.5rem 0;
  z-index: 999;

  &--fixed {
    position: fixed;
  }
}

.website-logo {
  @include flex($align: center, $gap: $gap-small);

  &__icon {
    @include dimensions(3.5rem, 3.5rem);
  }

  &__heading {
    @include font($size: $fs-large, $weight: $fw-bold);

    color: $color-grey;
    letter-spacing: $ls-medium;
  }
}

.hamburger-menu {
  background-color: transparent;
  z-index: 999;

  &__icon {
    @include dimensions(3rem, 3rem);

    color: $color-grey;
    cursor: pointer;
    transition: color 0.5s;
  }

  &__line {
    transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
    transform-origin: center;
  }

  &[aria-expanded="true"] &__icon {
    color: $color-main;
  }

  &[aria-expanded="true"] &__line {
    transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
  }

  &[aria-expanded="true"] &__line-top,
  &[aria-expanded="true"] &__line-bottom {
    y: 47.5;
  }

  &[aria-expanded="true"] &__line-top {
    rotate: 45deg;
  }

  &[aria-expanded="true"] &__line-middle {
    opacity: 0;
  }

  &[aria-expanded="true"] &__line-bottom {
    rotate: -45deg;
  }
}
