@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
  @include flex($direction: column, $align: center, $gap: $gap-medium);

  height: 56.8rem;
  position: relative;
  color: $color-grey;
  text-align: center;
  padding-top: 11rem;

  &__image {
    @include dimensions(100%, 100%);
    @include position($position: absolute, $top: 0, $left: 0);

    object-fit: cover;
    z-index: -999;
  }

  &__heading {
    @include font($size: $fs-large, $family: $ff-serif);

    letter-spacing: $ls-small;
  }

  &__description {
    @include font($size: $fs-small, $height: $lh-large);
  }

  &__cta {
    @include colors($color-main, $color-grey);
    @include font($size: $fs-extra-small, $weight: $fw-semi-bold);

    border-radius: $br-maximum;
    padding: 1.25rem 2.5rem;
    cursor: pointer;
  }
}
