@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.navigation-menu {
  @include fixed(0, 0, 0, 0);

  display: none;
  background-color: $color-overlay;
  backdrop-filter: blur(5px);

  &--active {
    @include flex($align: center, $justify: center);
  }

  &__list {
    @include flex($direction: column, $gap: $gap-large);

    text-align: center;
  }

  &__link {
    color: $color-main;

    @include font(
      $size: $fs-extra-large,
      $weight: $fw-bold,
      $family: $ff-serif
    );
  }
}
