@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.quiz {
  min-height: 90vh;
  position: relative;
  color: $color-grey;
  text-align: center;
  padding-top: 11rem;
  padding-bottom: 5rem;

  &__image {
    @include dimensions(100%, 100%);
    @include position($position: absolute, $top: 0, $left: 0);

    object-fit: cover;
    z-index: -999;
  }

  &__question-list {
    margin-bottom: $gap-medium;
  }

  &__next-button {
    @include colors($color-grey, $color-main);
    @include font($size: $fs-medium, $weight: $fw-semi-bold);

    width: 30rem;
    border-radius: $br-maximum;
    padding: 1.5rem 2rem;
    cursor: pointer;

    &--hidden {
      display: none;
    }
  }
}

.question {
  display: none;

  &--selected {
    @include flex($direction: column, $align: center, $gap: $gap-large);
  }

  &__heading-box {
    @include flex($direction: column, $gap: $gap-small);
  }

  &__label {
    @include font($size: $fs-extra-small, $weight: $fw-bold);

    letter-spacing: $ls-large;
    text-transform: uppercase;
  }

  &__heading {
    @include font($size: $fs-large, $weight: $fw-semi-bold, $family: $ff-serif);

    letter-spacing: $ls-small;
  }

  &__answers-list {
    @include flex($direction: column, $gap: $gap-small);

    width: 30rem;
  }
}

.answer {
  display: flex;

  &__button {
    flex: 1;

    @include colors($color-main, $color-grey);
    @include font($size: $fs-medium, $weight: $fw-semi-bold);

    border-radius: $br-maximum;
    padding: 1.5rem 2rem;
    cursor: pointer;

    &--selected {
      @include colors($color-grey, $color-main);
    }
  }
}

.results {
  display: none;

  &--visible {
    @include flex(column, center, center, $gap-medium);
  }

  &__heading {
    @include font($size: $fs-large, $weight: $fw-semi-bold, $family: $ff-serif);

    letter-spacing: $ls-small;
  }

  &__list {
    @include flex(column, center, center, $gap-medium);
  }

  &__list-item {
    @include flex($align: center, $justify: center, $gap: $gap-small);
  }
}

.role {
  &__heading {
    width: 10rem;
    text-align: center;
    background-color: $color-main;
    border-radius: $br-small;
    padding: 0.25rem;
  }

  &__score-blocks {
    @include flex($align: center, $justify: center);
  }

  &__score-block {
    width: 1.5rem;
    height: 3rem;
    background-color: $color-overlay;
    border: 0.01rem solid $color-grey;
    border-left: 0;

    &:first-child {
      border-left: 0.01rem solid $color-grey;
    }

    &--marked {
      background-color: $color-main;
    }
  }
}
