@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.statistics {
  @include colors($color-grey, $color-main);
}

.statistic {
  @include flex($direction: column, $align: center, $gap: $gap-medium);

  padding: 4rem;

  &:not(:last-child) {
    border-bottom: 0.1rem solid $color-grey;
  }

  &__icon {
    @include dimensions(5rem, 5rem);
  }

  &__text-content {
    @include flex($direction: column, $align: center, $gap: $gap-small);
  }

  &__figure {
    @include font($size: 4rem, $weight: $fw-bold, $family: $ff-serif);
  }

  &__description {
    @include font($height: $lh-large);

    text-align: center;
  }
}
