@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.tabs {
  @include flex($direction: column, $align: center, $gap: $gap-large);
  @include colors($color-main, $color-grey);

  padding: 7.1rem 0;

  &__heading {
    @include font($size: $fs-extra-large, $family: $ff-serif);

    text-align: center;
    letter-spacing: $ls-small;
  }

  &__lists {
    @include flex($direction: column, $gap: $gap-medium);

    @include media-up(laptop) {
      flex-direction: row;
      gap: $gap-large;
    }
  }

  &__list {
    @include flex($justify: center);

    width: 100%;

    @include media-up(laptop) {
      max-width: max-content;
      flex-direction: column;
      align-self: flex-start;
    }
  }

  &__content-list {
    padding: 0 2rem;

    @include media-up(mobile-l) {
      max-width: 65rem;
    }

    @include media-up(laptop) {
      max-width: 65rem;
      padding: 0;
    }
  }
}

.tab {
  border-bottom: 0.3rem solid $color-accent;
  padding: 0 1.5rem 1rem;
  cursor: pointer;

  @include media-up(laptop) {
    border-bottom: 0;
    border-left: 0.3rem solid $color-accent;
    padding: 3rem 0 3rem 1.5rem;
  }

  &--selected {
    border-bottom-color: $color-main;

    @include media-up(laptop) {
      border-left-color: $color-main;
    }
  }

  &__heading {
    cursor: pointer;
  }
}

.tab-content {
  display: none;

  &--selected {
    @include flex($direction: column, $gap: $gap-medium);
  }

  &__list {
    @include flex($direction: column, $gap: $gap-medium);

    @include media-up(laptop) {
      &:not(.tab-content__list--bullet-point) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    &--bullet-point {
      list-style: disc;
      padding-left: 2rem;
    }
  }

  &__list-item {
    @include flex($direction: column, $gap: $gap-small);

    &--bullet-point {
      display: list-item;
    }
  }
}

.type {
  @include flex($direction: column, $gap: $gap-small);
}
