/* ******************************************** */
/* TYPOGRAPHY SYSTEM */
/* ******************************************** */
/* ******************************************** */
/* COLOR SYSTEM */
/* ******************************************** */
/* ******************************************** */
/* BORDER RADIUS SYSTEM */
/* ******************************************** */
/* ******************************************** */
/* WHITESPACE SYSTEM */
/* ******************************************** */
/* ******************************************** */
/* BREAKPOINT SYSTEM */
/* ******************************************** */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

/* Prevent font size inflation */
html {
  text-size-adjust: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Reset anchor elements' default styles */
a {
  text-decoration: none;
  color: currentcolor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make svgs easier to work with */
svg {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

html {
  font-size: 55%;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
@media (min-width: 48rem) {
  html {
    font-size: calc(40% + 0.2vw);
  }
}
@media (min-width: 64rem) {
  html {
    font-size: calc(35% + 0.2vw);
  }
}
@media (min-width: 90rem) {
  html {
    font-size: calc(40% + 0.2vw);
  }
}

body,
h2,
h3 {
  font: 400 1.728rem / 1.5 inter, sans-serif;
  cursor: default;
}

.header {
  position: absolute;
  inset: 0 0 auto 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 0;
  z-index: 999;
}
.header--fixed {
  position: fixed;
}
.header__menus-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.website-logo {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.website-logo__icon {
  width: 100%;
  max-width: 3.5rem;
  height: 3.5rem;
}
.website-logo__heading {
  font-size: 2.074rem;
  font-weight: 700;
  color: #dad7cd;
  letter-spacing: 0.1rem;
}

.language-menu {
  position: relative;
  display: flex;
}
.language-menu__button {
  background-color: transparent;
  cursor: pointer;
}
.language-menu__icon {
  width: 100%;
  max-width: 3rem;
  height: 3rem;
  pointer-events: none;
}
.language-menu__content {
  position: absolute;
  inset: calc(100% + 0.25rem) auto auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: merriweather, serif;
  background-color: rgba(255, 255, 255, 0.9019607843);
  color: #344e41;
  border-radius: 2rem;
  pointer-events: none;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-0.1rem);
  padding: 1.5rem;
  opacity: 0;
  transition: all 0.15s;
}
.language-menu--active > .language-menu__content {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.hamburger-menu {
  background-color: transparent;
  z-index: 999;
}
.hamburger-menu__icon {
  width: 100%;
  max-width: 3rem;
  height: 3rem;
  color: #dad7cd;
  cursor: pointer;
  transition: color 0.5s;
}
.hamburger-menu__line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
  transform-origin: center;
}
.hamburger-menu[aria-expanded=true] .hamburger-menu__icon {
  color: #344e41;
}
.hamburger-menu[aria-expanded=true] .hamburger-menu__line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}
.hamburger-menu[aria-expanded=true] .hamburger-menu__line-top, .hamburger-menu[aria-expanded=true] .hamburger-menu__line-bottom {
  y: 47.5;
}
.hamburger-menu[aria-expanded=true] .hamburger-menu__line-top {
  rotate: 45deg;
}
.hamburger-menu[aria-expanded=true] .hamburger-menu__line-middle {
  opacity: 0;
}
.hamburger-menu[aria-expanded=true] .hamburger-menu__line-bottom {
  rotate: -45deg;
}

.navigation-menu {
  position: fixed;
  inset: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9019607843);
  backdrop-filter: blur(5px);
  transform: translateX(100vw);
  transition: transform 0.5s;
}
.navigation-menu--visible {
  transform: translateX(0);
}
.navigation-menu__list {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: center;
}
.navigation-menu__link {
  font-size: 2.488rem;
  font-weight: 700;
  font-family: merriweather, serif;
  position: relative;
  color: #344e41;
  padding: 0 1.5rem;
}
.navigation-menu__link::after {
  position: absolute;
  inset: auto auto -1rem 50%;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #a3b18a;
  transition: width 0.3s ease, left 0.3s ease;
}
.navigation-menu__link:hover::after {
  width: 100%;
  left: 0;
}
.navigation-menu__link-language {
  position: absolute;
  inset: auto 0 2rem auto;
  font-size: 1.44rem;
  font-weight: 600;
}
.navigation-menu__link-language::after {
  display: none;
}
.navigation-menu__cta {
  color: #dad7cd;
  background-color: #344e41;
  font-size: 2.074rem;
  font-weight: 600;
  border-radius: 1000rem;
  padding: 1.7rem 3rem;
  cursor: pointer;
}
.navigation-menu__cta:hover {
  opacity: 0.8;
}
.navigation-menu__cta:active {
  opacity: 0.7;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height: 56.8rem;
  position: relative;
  color: #dad7cd;
  text-align: center;
  padding-top: 11rem;
}
.hero__image {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 auto auto 0;
  object-fit: cover;
  z-index: -999;
}
.hero__heading {
  font-size: 2.074rem;
  font-family: merriweather, serif;
  letter-spacing: -0.05rem;
}
.hero__description {
  font-size: 1.44rem;
  line-height: 1.7;
}
.hero__cta {
  color: #344e41;
  background-color: #dad7cd;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1000rem;
  padding: 1.25rem 2.5rem;
  cursor: pointer;
  transition: all 0.15s;
}
.hero__cta:hover {
  color: #dad7cd;
  background-color: #344e41;
}
.hero__cta:active {
  opacity: 0.8;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  color: #344e41;
  background-color: #dad7cd;
  text-align: center;
  padding: 7.5rem 0;
}
.steps__heading {
  font-size: 2.488rem;
  font-family: merriweather, serif;
  letter-spacing: -0.05rem;
}
.steps__list {
  display: flex;
  gap: 3rem;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.steps__list::-webkit-scrollbar {
  display: none;
}
@media (min-width: 64rem) {
  .steps__list {
    justify-content: center;
  }
}
.steps__separator {
  width: 100%;
  max-width: 80%;
  height: 0.1rem;
  background-color: #a3b18a;
  border: 0;
}

.step {
  display: flex;
  gap: 3rem;
}
.step__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.step__image {
  width: 25rem;
  height: 25rem;
}
.step__text-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.step__heading {
  font-size: 1.44rem;
  font-weight: 700;
  letter-spacing: 0.35rem;
  text-transform: uppercase;
}
.step__description {
  line-height: 1.7;
  font-family: merriweather, serif;
}
.step__separator {
  max-width: 12rem;
}

.cta-block {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.cta-block__heading {
  font-size: 2.074rem;
  font-family: merriweather, serif;
}
.cta-block__button {
  color: #dad7cd;
  background-color: #344e41;
  font-weight: 600;
  border-radius: 1000rem;
  padding: 1.85rem 8rem;
  cursor: pointer;
  transition: all 0.15s;
}
.cta-block__button:hover {
  opacity: 0.8;
}
.cta-block__button:active {
  opacity: 0.7;
}

@media (min-width: 48rem) {
  .statistics__list {
    display: flex;
  }
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: #dad7cd;
  background-color: #344e41;
  padding: 4rem;
}
@media (min-width: 48rem) {
  .statistic {
    flex: 1;
    padding: 4rem 0;
  }
}
.statistic:not(:last-child) {
  border-bottom: 0.1rem solid #dad7cd;
}
@media (min-width: 48rem) {
  .statistic:not(:last-child) {
    border-bottom: 0;
    border-right: 0.1rem solid #dad7cd;
  }
}
.statistic__icon {
  width: 100%;
  max-width: 5rem;
  height: 5rem;
}
.statistic__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
.statistic__figure {
  font-size: 4rem;
  font-weight: 700;
  font-family: merriweather, serif;
}
.statistic__description {
  line-height: 1.7;
  text-align: center;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  color: #344e41;
  background-color: #dad7cd;
  padding: 7.1rem 0;
}
.tabs__heading {
  font-size: 2.488rem;
  font-family: merriweather, serif;
  text-align: center;
  letter-spacing: -0.05rem;
}
.tabs__lists {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 64rem) {
  .tabs__lists {
    flex-direction: row;
    gap: 5rem;
  }
}
.tabs__list {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (min-width: 64rem) {
  .tabs__list {
    max-width: max-content;
    flex-direction: column;
    align-self: flex-start;
  }
}
.tabs__content-list {
  padding: 0 2rem;
}
@media (min-width: 26.563rem) {
  .tabs__content-list {
    max-width: 65rem;
  }
}
@media (min-width: 64rem) {
  .tabs__content-list {
    max-width: 65rem;
    padding: 0;
  }
}

.tab {
  border-bottom: 0.3rem solid #a3b18a;
  padding: 0 1.5rem 1rem;
  cursor: pointer;
}
@media (min-width: 64rem) {
  .tab {
    border-bottom: 0;
    border-left: 0.3rem solid #a3b18a;
    padding: 3rem 0 3rem 1.5rem;
  }
}
.tab--selected {
  border-bottom-color: #344e41;
}
@media (min-width: 64rem) {
  .tab--selected {
    border-left-color: #344e41;
  }
}
.tab__heading {
  cursor: pointer;
}

.tab-content {
  display: none;
}
.tab-content--selected {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.tab-content__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 64rem) {
  .tab-content__list:not(.tab-content__list--bullet-point) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.tab-content__list--bullet-point {
  list-style: disc;
  padding-left: 2rem;
}
.tab-content__list-item {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.tab-content__list-item--bullet-point {
  display: list-item;
}

.type {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.carousel {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: #dad7cd;
  background-color: #344e41;
  padding: 7.1rem 0;
}
@media (min-width: 64rem) {
  .carousel {
    padding: 17.5rem 0 10.4rem;
  }
}
@media (min-width: 48rem) {
  .carousel__list {
    display: flex;
    justify-content: center;
  }
}
.carousel__buttons {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
@media (min-width: 64rem) {
  .carousel__buttons {
    display: none;
  }
}
.carousel__button {
  color: #a3b18a;
  background-color: transparent;
  font-size: 2.488rem;
  font-weight: 700;
  cursor: pointer;
}
.carousel__indicators {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}
.carousel__indicator {
  color: #a3b18a;
  background-color: transparent;
  font-size: 2.488rem;
}

.quote {
  display: none;
  padding: 0 2rem;
}
@media (min-width: 64rem) {
  .quote {
    width: 100%;
    max-width: 95rem;
    height: 22rem;
    color: #344e41;
    background-color: #dad7cd;
    position: relative;
    border-radius: 0.5rem;
    padding: 5rem;
  }
}
.quote--selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}
.quote__button {
  display: none;
}
@media (min-width: 64rem) {
  .quote__button {
    width: 100%;
    max-width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    inset: 50% auto auto auto;
    color: #dad7cd;
    background-color: #a3b18a;
    font-size: 2.488rem;
    font-weight: 700;
    display: block;
    border-radius: 50%;
    cursor: pointer;
  }
}
@media (min-width: 64rem) {
  .quote__button-back {
    left: 0;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 64rem) {
  .quote__button-next {
    right: 0;
    transform: translate(50%, -50%);
  }
}
.quote__image {
  display: none;
}
@media (min-width: 64rem) {
  .quote__image {
    position: absolute;
    inset: 50% auto auto 5rem;
    height: 38.28rem;
    display: block;
    border-radius: 1rem;
    transform: translateY(-50%);
  }
}
.quote__left-mark {
  width: 100%;
  max-width: 2.5rem;
  height: 2.5rem;
  display: inline;
  vertical-align: text-top;
}
.quote__right-mark {
  width: 100%;
  max-width: 1.5rem;
  height: 1.5rem;
  display: inline;
  vertical-align: middle;
}
.quote__text-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-self: center;
  max-width: 50rem;
}
@media (min-width: 64rem) {
  .quote__text-content {
    align-self: flex-end;
  }
}
.quote__text {
  font-size: 2.074rem;
}
.quote__author {
  text-align: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background: no-repeat center/cover url("../assets/images/contacts.webp"), #dad7cd;
  background-blend-mode: overlay;
  padding: 7.5rem 4rem;
}
.contacts__heading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: #344e41;
  text-align: center;
}
.contacts__heading {
  font-size: 2.488rem;
  font-family: merriweather, serif;
  letter-spacing: -0.05rem;
}
.contacts__description {
  line-height: 1.7;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
@media (min-width: 64rem) {
  .contacts__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  max-width: 30rem;
  border-radius: 2.5rem;
  padding: 2.5rem;
}
.contact--color-main {
  color: #dad7cd;
  background-color: #344e41;
}
.contact--color-grey {
  color: #344e41;
  background-color: #dad7cd;
}
.contact__icon {
  width: 100%;
  max-width: 5rem;
  height: 5rem;
}
.contact__text-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.contact__heading {
  font-weight: 700;
}
.contact__description {
  font-size: 1.728rem;
  font-weight: 500;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #dad7cd;
  background-color: #344e41;
  height: 5rem;
}
@media (min-width: 64rem) {
  .footer {
    height: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 5rem;
  }
}
.footer--quiz-page {
  min-height: 10vh;
}
.footer__description {
  display: none;
}
@media (min-width: 64rem) {
  .footer__description {
    display: block;
  }
}
.footer__website-logo {
  display: none;
}
@media (min-width: 64rem) {
  .footer__website-logo {
    display: flex;
    justify-self: center;
  }
}
@media (min-width: 64rem) {
  .footer__copyright {
    justify-self: right;
  }
}

.quiz {
  min-height: 90vh;
  position: relative;
  color: #dad7cd;
  text-align: center;
  padding-top: 11rem;
  padding-bottom: 5rem;
}
.quiz__image {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 auto auto 0;
  object-fit: cover;
  z-index: -999;
}
@media (max-width: 34.375rem) {
  .quiz__image {
    position: fixed;
  }
}
.quiz__question-list {
  margin-bottom: 3rem;
}
.quiz__next-button {
  color: #dad7cd;
  background-color: #344e41;
  font-size: 1.728rem;
  font-weight: 600;
  width: 30rem;
  border-radius: 1000rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
}
.quiz__next-button--hidden {
  display: none;
}

.question {
  display: none;
}
.question--selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.question__heading-box {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.question__label {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.35rem;
  text-transform: uppercase;
}
.question__heading {
  font-size: 2.074rem;
  font-weight: 600;
  font-family: merriweather, serif;
  letter-spacing: -0.05rem;
}
.question__answers-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 30rem;
}

.answer {
  display: flex;
}
.answer__button {
  flex: 1;
  color: #344e41;
  background-color: #dad7cd;
  font-size: 1.728rem;
  font-weight: 600;
  border-radius: 1000rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
}
.answer__button--selected {
  color: #dad7cd;
  background-color: #344e41;
}

.results {
  display: none;
}
.results--visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.results__heading {
  font-size: 2.074rem;
  font-weight: 700;
  font-family: merriweather, serif;
  letter-spacing: -0.05rem;
}
.results__main-container {
  display: flex;
  align-items: center;
  gap: 5rem;
}
@media (max-width: 63.9rem) {
  .results__main-container {
    flex-direction: column;
  }
}
.results__sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.results__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.results__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.results__violence-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  background-color: #dad7cd;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
}
.results__violence-list--hidden {
  display: none;
}
.results__violence-list--no-gap {
  gap: 0;
}
.results__violence-list-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
@media (max-width: 34.375rem) {
  .results__violence-list {
    margin: 0 5rem;
  }
}
.results__tip-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  background-color: #344e41;
  border-radius: 2rem;
  padding: 2rem 2.5rem;
}
@media (max-width: 34.375rem) {
  .results__tip-list {
    margin: 0 5rem;
  }
}

.role__heading {
  font-size: 1.728rem;
  font-weight: 600;
  width: 12.5rem;
  text-align: center;
  background-color: #dad7cd;
  color: #344e41;
  border-radius: 0.15rem;
  padding: 0.25rem;
}
.role__score-blocks {
  display: flex;
  align-items: center;
  justify-content: center;
}
.role__score-block {
  width: 1.5rem;
  height: 3rem;
  background-color: #dad7cd;
  border: 0.01rem solid #dad7cd;
  border-left: 0;
}
.role__score-block:first-child {
  border-left: 0.01rem solid #dad7cd;
}
.role__score-block--marked {
  background-color: #344e41;
}
@media (max-width: 34.375rem) {
  .role__score-block {
    display: none;
  }
}
.role__score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.728rem;
  font-weight: 700;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #dad7cd;
  color: #344e41;
  border-radius: 1000rem;
}

.violance-icon {
  width: 100%;
  max-width: 3.5rem;
  height: 3.5rem;
}
.violance-icon--hidden {
  display: none;
}

.violance-description {
  font-size: 1.728rem;
  font-weight: 500;
  color: #344e41;
}

.tip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  max-width: 50rem;
}
.tip__heading {
  font-size: 1.728rem;
  font-weight: 700;
  color: #a3b18a;
}
.tip__description {
  font-size: 1.728rem;
  line-height: 1.5;
}

/*# sourceMappingURL=main.css.map */
