@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:string" as str;

html {
  font-size: 55%;

  @include media-up(mobile-m) {
    font-size: calc(55% + 0.4vw);
  }

  @include media-up(mobile-l) {
    font-size: calc(55% + 0.6vw);
  }
}

body,
h2,
h3 {
  font: $fw-regular $fs-medium str.unquote("/") $lh-medium $ff-sans-serif;
}
