$breakpoints-up: (
  mobile-m: 23.438rem,
  mobile-l: 26.563rem,
  tablet: 48rem,
  laptop: 64rem,
  laptop-l: 90rem,

  quiz-results: 34.375rem,
);
$breakpoints-down: (
  mobile-m: 23.42rem,
  mobile-l: 26.55rem,
  tablet: 47.9rem,
  laptop: 63.9rem,
  laptop-l: 89.9rem,

  quiz-results: 34.375rem,
);
