/* ==========================================================================
   Font Weights:
   ========================================================================== */

$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

/* ==========================================================================
   Font Sizes:
   ========================================================================== */

$fs-extra-small: 1.2rem;
$fs-small: 1.44rem;
$fs-medium: 1.728rem;
$fs-large: 2.074rem;
$fs-extra-large: 2.488rem;

/* ==========================================================================
   Letter Spacing:
   ========================================================================== */

$ls-small: -0.05rem;
$ls-medium: 0.1rem;
$ls-large: 0.35rem;

/* ==========================================================================
   Line Height:
   ========================================================================== */

$lh-extra-small: 1.2;
$lh-small: 1.3;
$lh-medium: 1.5;
$lh-large: 1.7;
$lh-extra-large: 2;
